* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-header {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3% 0% 3% 0%;
    height: 6vh;
}


